*{
    margin: 0;
    border: border-box;
}
.main{
    background-color: white;
}
/* navbar */
.nav-bar{
    height: 100px;
    background-color: #bce9e5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 50px;
    width: 125px;
    margin-left: 20px;
}
.logo{
    background-image: url(logo-navbar.png);
    height: 50px;
    width: 100%;
    background-size: contain;
}
.nav-middle-logo{
    height: 50px;
    width: 120px;
}
.middle-logo{
    background-image: url(national.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.options{
    width: 300px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-size: small;
}
.home{
    color: black;
}
.middle-photo{
    height: 400px;
    /* background-color: pink; */
    background-image: url(EhospitalImage1.jpg);
    background-size: cover;
}

/* boxes */
.body{
    position: relative;
    color: white;
}
.heading1{
    width: 500px;
   position: absolute;
   color: black;
   top: 325px;
   left: 800px
}
.e-hospital{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bce9e5;

}
.e-hospital-logo{
    height: 50px;
    width: 250px;
    border: solid black 2px;
    border-radius: 35%;
    color: #000;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    background-color:#bce9e5;
    box-shadow: 4px 3px #33b5e5;
}

.main-box{
    display: flex;
    justify-content: space-evenly;
    background-color:#bce9e5;;
    flex-wrap: wrap;
}
.box{
    height: 180px;
    width: 40%;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding: 20px 0px 15px;
    margin-top: 15px;
    border: 2px black solid;
    border-radius: 8px;
    box-shadow: 7px  5px #33b5e5;
}
.box-img{
    height: 80px;
    width: 80px;
    background-size:cover ;
}
.box-content h2{
    margin-left: 7px;
    color:white;
}
.box-content p{
    margin-top: 6px;
    color: white;
}
.view-modules{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #bce9e5;
}
.module{
    height: 40px;
    width: 180px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 6px  4px #33b5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #33b5e5;
}
#linnk{
    text-decoration: none;
}
/* footer */

.main-foot{
    background-color: #33b5e5;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.foot-img{
    margin-top: 10px;
    margin-left: 10px;
    height: 68px;
    width: 200px;
    background-size: contain;
}
.copyright{
    height: 68px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.last-content{
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
    font-size: small;
}
.logo-nic{
    height: 40px;
    width: 200px;
    background-size: contain;
}
.contact-us{
    color: black;
}